<!-- templates/anadir_tv.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Nueva Televisión</title>
</head>
<body>
    <h1>Añadir Nueva Televisión</h1>

    <form method="post" action="{% url 'anadir_tv' %}">
        {% csrf_token %}
        {{ forma.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <a href="{% url 'index' %}">Volver a la lista de electrodomésticos</a>
</body>
</html>
